{"swagger":"2.0","info":{"description":"<#noparse>\n### Objetivo\n\nEste documento tem por objetivo definir a interface de integração entre o sistema Parking Plus Enterprise e Aplicativos para Smartphones. A integração possibilitará o pagamento da estadia dos clientes do estacionamento através desse aplicativo.\n\n### Integração\nA integração entre as aplicações será realizada por meio de webservice disponibilizados em ambiente de internet. Esse webservice possibilitará a consulta do valor da estadia dos tickets e o pagamento do ticket do estacionamento utilizando como meio de pagamento o cartão de crédito.\n\nO sistema Parking Plus Enterprise encaminha os dados do cliente para os sistemas Gateway de Pagamento de forma que estes possam solicitar a autorização da cobrança em cartão de crédito, da estadia do estacionamento.\n\n### Especificação dos Serviços (Webservices)\nO protocolo de comunicação utilizado para a integração entre o sistema Parking Plus Enterprise e o Aplicativo será o HTTPS.\nO webservice utilizará a tecnologia REST para o acesso aos serviços, e JSON para o POST e o retorno das informações solicitadas para o webservice. Dessa forma, o aplicativo desenvolvido deverá atender aos requisitos necessários para acessar esses serviços.\n\n\n\n## Mapa de Erros\n|errorCode |descrição |mensagem padrão |\n| --- | --- | --- |\n| 0 | Nenhum erro. |   |\n| 999 |Utilizado quando alguma exceção não especifica é lançada.| Erro no processamento da solicitação. |\n|1 | O ticket não foi encontrado no banco do Enterprise. | Ticket não encontrado. |\n| 2 | Garagem offline no enterprise. | Serviço indisponível no momento. |\n| 3 | O número do ticket possui CRC inválido. | O número do ticket digitado não é um número de ticket válido. |\n| 4 |O ticket não foi encontrado no pátio. Ocorre se o ticket já saiu do pátio. Pode ocorrer se um ticket correto(ainda no pátio) não foi sincronizado e um ticket de outra garagem é encontrado mas o mesmo já saiu. | Ticket inválido ou já processado. |\n| 5* | A garagem não possui uma Loja Virtual Cadastrada. | A Garagem não possui uma Loja Virtual Cadastrada. |\n| 6 | A garagem não se encontra na whitelist de garagens permitidas da API. | Não é permitida a validação de tickets desta garagem. |\n| 7 | O ticket já recebeu uma validação hoje. | Você já ganhou seu estacionamento gratuito hoje. |\n| 8 | O valor do pagamento é inválido. Valor a pagar é maior que o sendo pago. | Valor Inválido. |\n| 9 | Transação já realizada. idTransacao já existe no banco. | Transação já realizada. |\n| 10* | A apikey enviada é inválida. | Aplicativo não autorizado! |\n| 11** | ~~O cartão possui CRC inválido.~~ | ~~O número do Cartão Pré-Pago é inválido.~~ |\n| 12** | ~~O cartão não foi encontrado no banco.~~ | ~~Cartão Pré-Pago não encontrado.~~ |\n| 13 | Erro ao descriptografar o cartão de crédito. | Cartão com problema, tente recadastrar. |\n| 14 | Erro ao tentar se conectar com o gateway de pagamento. | Erro de conexão com o Gateway! |\n| 15 | Existe alguma restrição para o cartão. | Serviço não autorizado para este cartão! |\n| 16 | Erro de transação com o gateway. | Sua transação não foi concluída. Aguarde alguns instantes e tente novamente. |\n| 17 | Emissora do cartão indisponível para o gateway. | Emissor indisponível! Aguarde alguns instantes e tente novamente ou entre em contato com a emissora de seu cartão. |\n| 18* | Existe algum erro na configuração do gateway. | Pagamento indisponível no momento. |\n| 19 | Informações do cartão inválidas. | Cartão inválido! Entre em contato com a emissora do seu cartão para mais detalhes. |\n| 20 | A transação foi negada pelo emissor do cartão. | Transação negada pelo emissor! Entre em contato com a emissora do seu cartão para mais detalhes. |\n| 21 | Pagamento desabilitado. | O pagamento está momentaneamente desabilitado. |\n| 22 | Erro ao tentar criptografar o cartão de crédito. | Erro ao criptografar cartão! |\n| 23 | Erro ao tentar encontrar o cliente no banco de dados. Pode ocorrer se o UDID do cliente for alterado mas o cartão criptografado antigo for utilizado. | Cliente alterado! recadastre o cartão. |\n| 24 | Erro ao descriptografar um cartão de crédito. | Cartão de crédito com problema, tente recadastrar. |\n| 25** | ~~O Método chamado foi descontinuado.~~ | ~~Este método foi descontinuado.~~ |\n| 26 | Id/Chave de garagem não encontrada no sistema | Falha ao encontrar garagem! |\n| 27 | O id da promoção não foi encontrado no sistema | O id da promoção não existe! |\n| 28 | A promoção solicitada para o pagamento não foi atingida | Promoção não atingida! |\n| 29 | A promoção solicitada é para uma bandeira diferente da do pagamento | Bandeira inválida para a promoção! |\n| 30 | A validade da promoção acabou | A promoção selecionada já venceu! |\n| 31 | O ticket não pode receber mais de um desconto | O tíquete já possui um desconto aplicado! |\n| 32 | Exceção na tarifação com a GEST | Falha ao comunicar com a GEST! |\n| 33 | A promoção não permite validação no horário requisitado | Essa promoção não é válida nesse horário! |\n| 34 | Usuário e/ou senha inválidos | Usuário e senha inválidos! |\n| 35 | Usuário não autenticado | Usuário não autenticado ou token expirado! |\n| 36 | O Usuário não possui permissão para aplicar a promoção requisitada | Usuário não tem permissão para essa promoção! |\n| 37 | Limite de quantidade da promoção atingido | Esta promoção não está mais disponível! |\n| 38 | A promoção não permite validação no dia requisitado | Esta promoção não está disponível neste dia da semana! |\n| 39 | A promoção do tipo mudança de tarifa não pode ser aplicada pois o ticket possui um pagamento | A tarifa não pode ser alterada pois o ticket já possui um pagamento! |\n| 40 | O Usuário não está associado a um controle de vagas | Usuário não possui controle de vagas! |\n| 41 | O ticket já efetuou a operação requisitada | Este ticket já foi validado no controle de vagas! |\n| 42 | O tipo do checkin no request não é o que deveria (evita que o sistema exiba uma operação e realize outra) | O tipo de checkin mudou! |\n| 43 | Falha genérica para erros de validação do request de controle de vaga | Não é possível validar esse ticket! |\n| 44 | O sistema não permite controle de vaga em um ticket com pagamento | O ticket já possui pagamento! |\n| 45 | O sistema não permite aplicar promoções em um ticket com controle de vagas | Ticket de locadora! |\n| 46 | O nome do portador do cartão é obrigatório para o gateway configurado nesta garagem | Portador obrigatório! |\n| 47 | Este ticket foi validado com um controle não permitido para o usuário atual! | Controle incompatível |\n| 48 | Cartão de crédito inválido! | Cartão de crédito inválido |\n| 49 | O ticket já possui um pagamento pendente! | Ticket com pagamento pendente |\n| 50 | Serviço indisponível para esta garagem! | O gateway configurado não aceita pagamento PIX |\n| 51 | Bandeira inválida! | Bandeira inválida |\n| 52 | Mensalista não encontrado ou inativo! | Mensalista inválido |\n| 53 | Mensalista sem contrato ativo! | Mensalista sem contrato |\n| 54 | Falha ao obter lançamento financeiro! | Lançamento financeiro inválido |\n\n\n\n\\* Deve ser corrigido durante a homologação\n\n** Apenas retornados por métodos internos ou ainda não documentados\n\n</#noparse>","version":"2.0","title":"API de pagamento mobile WPS Brasil","contact":{"name":"WPS Brasil","url":"www.wpsbrasil.com"}},"host":"demonstracao.parkingplus.com.br","basePath":"/servicos","tags":[{"name":"servico-carga-credito-credenciado-2","description":"Servico Carga Credito Credenciado 2"},{"name":"servico-pagamento-ticket-2","description":"Servico Pagamento Ticket 2"},{"name":"servico-pagamento-async","description":"Servico Pagamento Async"},{"name":"servico-pagamento-mensalidade","description":"Servico Pagamento Mensalidade"},{"name":"servico-recibo","description":"Servico Recibo"},{"name":"servico-pagamento-cartao-debito-2","description":"Servico Pagamento Cartao Debito 2"},{"name":"servico-politica-privacidade","description":"Servico Politica Privacidade"},{"name":"servico-vagas-lojista","description":"Servico Vagas Lojista"}],"paths":{"/2/carregarCredenciado":{"post":{"tags":["servico-carga-credito-credenciado-2"],"summary":"Tenta efetuar a recarda de um cardão de crédito WPS","operationId":"carregarCredenciadoUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(chaveGaragem + bandeira + enderecoIP + idTransacao + udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PagamentoCredenciadoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagamentoCredenciadoRequest"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/creditarCartao":{"post":{"tags":["servico-pagamento-cartao-debito-2"],"summary":"Tenta efetuar a recarda de um cardão de débito WPS","operationId":"creditarCartaoUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(numeroCartao + chaveGaragem + bandeira + enderecoIP + idTransacao + udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PagamentoCartaoDebitoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoCreditarCartao"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/pagamento":{"post":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para efetuar o **Pagamento de Ticket** do Estacionamento","description":"Esta função deverá ser utilizada para efetuar o pagamento da tarifa do estacionamento utilizando, como forma de pagamento, o cartão de crédito. Esta função utiliza um Gateway de pagamento cadastrado no Enterprise para tentar efetuar o pagamento. O pagamento pode ser realizado passando o **cartão de crédito** ou **cartão criptografado**.","operationId":"pagarTicketUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(numeroTicket + udid + enderecoIp + bandeira + portador + idTransacao + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PagamentoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoPagamento"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/pagamentoAutorizado":{"post":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para efetuar o **Pagamento de Ticket** do Estacionamento sem utilizar um Gateway","description":"Esta função deverá ser utilizada para efetuar o pagamento da tarifa do estacionamento quando a autorização do pagamento não é necessária.","operationId":"pagarTicketAutorizadoUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(numeroTicket + udid + bandeira + idTransacao + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PagamentoAutorizadoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoPagamento"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/pagamentosEfetuados":{"get":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para consultar **Pagamentos Efetuados**","description":"Esta função deverá ser utilizada para verificar os pagamentos efetuados por um cliente. Ela retorna os pagamentos em ordem decrescente de data. Os parâmetros [inicio] e [limite] podem ser utilizados para paginação.","operationId":"pagamentosEfetuadosUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"name":"udid","in":"query","description":"Identificador único para o usuário","required":true,"type":"string"},{"name":"inicio","in":"query","description":"Indice do primeiro objeto a ser retornado","required":false,"type":"integer","default":0,"format":"int32"},{"name":"limite","in":"query","description":"Quantidade maxima de objectos retornados (máximo 30).","required":false,"type":"integer","default":30,"format":"int32"},{"name":"idTransacao","in":"query","description":"Id da transação","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PagamentoEfetuado"}}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/placa":{"post":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para **Consultar Ticket** do Estacionamento","description":"Esta função deverá ser utilizada para verificar o status do ticket do estacionamento. Será possível através dos dados de retorno desse serviço, verificar o valor da tarifa a ser paga pelo cliente, e identificar os campos obrigatórios para a solicitação de pagamento.","operationId":"getPlacaUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/TicketPlacaRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoConsulta"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/politica":{"get":{"tags":["servico-politica-privacidade"],"summary":"Função para consultar os termos de uso e politica de privacidade","description":"Esta função pode ser utilizada para obter a politica de privacidade e/ou termos de uso para o app.","operationId":"politicaJsonUsingGET","consumes":["application/json"],"produces":["application/json","text/html;charset=UTF-8"],"parameters":[{"name":"app","in":"query","description":"app","required":true,"type":"string","enum":["MOBILE_PAYMENT"]},{"name":"garagemId","in":"query","description":"garagemId","required":false,"type":"integer","format":"int64"},{"name":"guidGaragem","in":"query","description":"guidGaragem","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PoliticaPrivacidade"}},"400":{"description":"Request inválido"},"500":{"description":"Erro inesperado"},"403":{"description":"Falha ao executar operação"},"404":{"description":"Entidade não encontrada"}}}},"/2/promocoes":{"get":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para obter a lista de **Promoções Disponíveis** para uma garagem","description":"Esta função deverá ser utilizada para obter uma lista de promoções válidas para uma garagem. As promoções podem ser cadastradas no enterprise.","operationId":"getPromocoesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"name":"idGaragem","in":"query","description":"ID da garagem","required":false,"type":"integer","format":"int64"},{"name":"guidGaragem","in":"query","description":"GUID da garagem","required":false,"type":"string"},{"name":"tiposPromocao","in":"query","description":"Lista de tipos de promoção aceitos (SIMPLE = Qualquer promoção que precise somente do ID para ser utilizada)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"numeroTicket","in":"query","description":"Número do código de barras do ticket do estacionamento","required":false,"type":"string"},{"name":"token","in":"query","description":"Token do usuário","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Promocao"}}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/recibos/ticket/{numeroTicket}":{"get":{"tags":["servico-recibo"],"summary":"Função para **Consultar recibos** do Estacionamento","description":"Esta função deverá ser utilizada para buscar recibos do estacionamento por garagem e ticket","operationId":"getRecibosUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numeroTicket","in":"path","description":"Número do código de barras do ticket do estacionamento","required":true,"type":"string"},{"name":"udid","in":"query","description":"Identificador único para o usuário","required":true,"type":"string"},{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"name":"idGaragem","in":"query","description":"ID da garagem. Caso não seja informado, o sistema tentará buscar pelo guid.","required":false,"type":"integer","format":"int64"},{"name":"guidGaragem","in":"query","description":"GUID da Garagem. Caso não seja informado, o sistema tentará buscar pelo id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoConsultaRecibo"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/ticket":{"post":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para **Consultar Ticket** do Estacionamento","description":"Esta função deverá ser utilizada para verificar o status do ticket do estacionamento. Será possível através dos dados de retorno desse serviço, verificar o valor da tarifa a ser paga pelo cliente, e identificar os campos obrigatórios para a solicitação de pagamento.","operationId":"getTicketUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/TicketBarrasRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoConsulta"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/ticket/{numeroTicket}":{"get":{"tags":["servico-pagamento-ticket-2"],"summary":"Função para **Consultar Ticket** do Estacionamento","description":"Esta função deverá ser utilizada para verificar o status do ticket do estacionamento. Será possível através dos dados de retorno desse serviço, verificar o valor da tarifa a ser paga pelo cliente, e identificar os campos obrigatórios para a solicitação de pagamento.","operationId":"getTicketUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numeroTicket","in":"path","description":"Número do código de barras do ticket do estacionamento","required":true,"type":"string"},{"name":"udid","in":"query","description":"Identificador único para o usuário","required":true,"type":"string"},{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":false,"type":"string"},{"name":"idGaragem","in":"query","description":"ID da Garagem referente ao ticket do estacionamento.\nCaso não utilizado o sistema tentará buscar o ticket pelo GUID ou em todas as garagens.\nRetorna erro se mais de um ticket for encontrado.","required":false,"type":"integer","format":"int64"},{"name":"guidGaragem","in":"query","description":"GUID da Garagem referente ao ticket do estacionamento.\nCaso não utilizado o sistema tentará buscar o ticket pelo ID ou em todas as garagens.\nRetorna erro se mais de um ticket for encontrado.","required":false,"type":"string"},{"name":"tiposPromocao","in":"query","description":"Lista de tipos de promoção aceitos (SIMPLE = Qualquer promoção que precise somente do ID para ser utilizada)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RetornoConsulta"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/transaction/accredited":{"post":{"tags":["servico-pagamento-async"],"summary":"Função para **Criar Transação** para pagamento assíncrono de recarga de credenciado.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono para uma recarga de credenciado. Com ela é possível realizar um pagamento PIX. A API de pagamentos efetuados pode ser utilizada para consultar o status da transação.","operationId":"transactionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(accreditedCard.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AccreditedCardPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/transaction/debit-card-wps":{"post":{"tags":["servico-pagamento-async"],"summary":"Função para **Criar Transação** para pagamento assíncrono de recarga de credenciado.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono para uma recarga de cartão débito WPS. Com ela é possível realizar um pagamento PIX. A API de pagamentos efetuados pode ser utilizada para consultar o status da transação.","operationId":"transactionUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(wpsDebitCard.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/WpsDebitCardPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/transaction/ticket":{"post":{"tags":["servico-pagamento-async"],"summary":"Função para **Criar Transação** para pagamento assíncrono de tickets.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono para um ticket de estacionamento. Com ela é possível realizar um pagamento PIX. A API de pagamentos efetuados pode ser utilizada para consultar o status da transação.","operationId":"transactionUsingPOST_4","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(ticket.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/TicketPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncTicketPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/transactions":{"get":{"tags":["servico-pagamento-async"],"summary":"Função para consultar **Status das Transações** e informações relevantes a mesma.","description":"Esta função deverá ser utilizada para verificar os pagamentos efetuados por um cliente. Ela retorna os pagamentos em ordem decrescente de data. Os parâmetros [firstResult] e [maxResult] podem ser utilizados para paginação.","operationId":"transactionsListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"name":"udid","in":"query","description":"Identificador único para o usuário","required":true,"type":"string"},{"name":"firstResult","in":"query","description":"Indice do primeiro objeto a ser retornado","required":false,"type":"integer","default":0,"format":"int32"},{"name":"maxResult","in":"query","description":"Quantidade maxima de objetos retornados (máximo 30).","required":false,"type":"integer","default":30,"format":"int32"},{"name":"transactionId","in":"query","description":"ID da transação. (Campo [transactionId] enviado no pagamento.","required":false,"type":"string"},{"name":"orderId","in":"query","description":"ID do pedido. (Campo [orderId] retornado no pagamento.)","required":false,"type":"string"},{"name":"transactionType","in":"query","description":"Tipo da transação.\n* ACCREDITED_CARD: Recarga de cartão crédito WPS.\n* WPS_DEBIT_CARD: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.\n* MONTHLY_ACCREDITED: Pagamento de mensalidade.\n* UNMAPPED: Tipo não mapeado.","required":false,"type":"string","enum":["ACCREDITED_CARD","WPS_DEBIT_CARD","TICKET","MONTHLY_ACCREDITED","UNMAPPED"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MobileTransaction"}}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/2/vagas-lojista/consultar":{"post":{"tags":["servico-vagas-lojista"],"summary":"consultar","operationId":"consultarUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"apiKey","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"apiKeyId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ControleVagasLojistaRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/2/vagas-lojista/validar":{"post":{"tags":["servico-vagas-lojista"],"summary":"validar","operationId":"validarUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"apiKey","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"apiKeyId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CheckinVagasLojistaRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v3/api/monthly-accredited/number/{number}":{"get":{"tags":["servico-pagamento-mensalidade"],"summary":"Função para **Consulta** de mensalidade.","description":"Esta função deverá ser utilizada para consulta as informações sobre uma mensalidade.","operationId":"getMonthlyAccreditedUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"number","in":"path","description":"Número do cartão do mensalista.","required":true,"type":"string"},{"name":"apiKey","in":"query","description":"sha1(number + udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"name":"udid","in":"query","description":"Identificador único para o usuário","required":true,"type":"string"},{"name":"parkingId","in":"query","description":"ID da Garagem referente ao mensalista. (É obrigatório o envio de pelo menos dos campos, parkingId **OU** parkingGuid)","required":false,"type":"integer","format":"int64"},{"name":"parkingGuid","in":"query","description":"GUID da Garagem referente ao mensalista. (É obrigatório o envio de pelo menos dos campos, parkingId **OU** parkingGuid)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MonthlyAccreditedInvoicesResponse"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/v3/api/transaction/accredited":{"post":{"tags":["servico-pagamento-async"],"summary":"Função para **Criar Transação** para pagamento assíncrono de recarga de credenciado.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono para uma recarga de credenciado. Com ela é possível realizar um pagamento PIX. A API de pagamentos efetuados pode ser utilizada para consultar o status da transação.","operationId":"transactionUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(accreditedCard.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AccreditedCardPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/v3/api/transaction/debit-card-wps":{"post":{"tags":["servico-pagamento-async"],"summary":"Função para **Criar Transação** para pagamento assíncrono de recarga de credenciado.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono para uma recarga de cartão débito WPS. Com ela é possível realizar um pagamento PIX. A API de pagamentos efetuados pode ser utilizada para consultar o status da transação.","operationId":"transactionUsingPOST_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(wpsDebitCard.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/WpsDebitCardPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/v3/api/transaction/monthly-accredited":{"post":{"tags":["servico-pagamento-mensalidade"],"summary":"Função para **Criar Transação** para pagamento assíncrono de mensalidade.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono de mensalidade WPS. Com ela é possível realizar um pagamento PIX.","operationId":"transactionUsingPOST_6","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(accredited.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/MonthlyAccreditedPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/v3/api/transaction/ticket":{"post":{"tags":["servico-pagamento-async"],"summary":"Função para **Criar Transação** para pagamento assíncrono de tickets.","description":"Esta função deverá ser utilizada para iniciar um pagamento assíncrono para um ticket de estacionamento. Com ela é possível realizar um pagamento PIX. A API de pagamentos efetuados pode ser utilizada para consultar o status da transação.","operationId":"transactionUsingPOST_5","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(ticket.number + udid + amount + transactionId + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/TicketPaymentTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsyncTicketPaymentAPIResult"}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}},"/v3/api/transactions":{"get":{"tags":["servico-pagamento-async"],"summary":"Função para consultar **Status das Transações** e informações relevantes a mesma.","description":"Esta função deverá ser utilizada para verificar os pagamentos efetuados por um cliente. Ela retorna os pagamentos em ordem decrescente de data. Os parâmetros [firstResult] e [maxResult] podem ser utilizados para paginação.","operationId":"transactionsListUsingGET_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"apiKey","in":"query","description":"sha1(udid + chave*)","required":true,"type":"string"},{"name":"apiKeyId","in":"query","description":"ID da ApiKey","required":true,"type":"string"},{"name":"udid","in":"query","description":"Identificador único para o usuário","required":true,"type":"string"},{"name":"firstResult","in":"query","description":"Indice do primeiro objeto a ser retornado","required":false,"type":"integer","default":0,"format":"int32"},{"name":"maxResult","in":"query","description":"Quantidade maxima de objetos retornados (máximo 30).","required":false,"type":"integer","default":30,"format":"int32"},{"name":"transactionId","in":"query","description":"ID da transação. (Campo [transactionId] enviado no pagamento.","required":false,"type":"string"},{"name":"orderId","in":"query","description":"ID do pedido. (Campo [orderId] retornado no pagamento.)","required":false,"type":"string"},{"name":"transactionType","in":"query","description":"Tipo da transação.\n* ACCREDITED_CARD: Recarga de cartão crédito WPS.\n* WPS_DEBIT_CARD: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.\n* MONTHLY_ACCREDITED: Pagamento de mensalidade.\n* UNMAPPED: Tipo não mapeado.","required":false,"type":"string","enum":["ACCREDITED_CARD","WPS_DEBIT_CARD","TICKET","MONTHLY_ACCREDITED","UNMAPPED"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MobileTransaction"}}},"401":{"description":"ApiKey inválida","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Erro inesperado","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Falha ao executar operação","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Entidade não encontrada","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"Promocao":{"type":"object","required":["descricao","exigeAutenticacao","horarioFim","horarioInicio","imagem","nome","permitirFaturarValorRestante","permitirParcial","quantidadeDisponivel","regulamento","systemId","tipoDesconto","tipoPromocao","titulo","validade","valorAlvo","valorDesconto"],"properties":{"bandeira":{"type":"string","description":"Bandeira caso o tipoPromoção seja BANDEIRA","enum":["ELO","AURA","AMEX","VISA","MASTERCARD","DISCOVER","HIPERCARD","DINERS","JCB"]},"descricao":{"type":"string","description":"A descrição da promoção"},"diasSemana":{"type":"array","description":"Dias da semana em que a promoção pode ser aplicada.","items":{"type":"string","enum":["DOMINGO","SEGUNDA","TERCA","QUARTA","QUINTA","SEXTA","SABADO"]}},"exigeAutenticacao":{"type":"boolean","example":false,"description":"Se a promoção exige autenticação"},"horarioFim":{"type":"string","format":"date-time","description":"Horário em que a promoção pode ser utilizada (fim)"},"horarioInicio":{"type":"string","format":"date-time","description":"Horário em que a promoção pode ser utilizada (inicio)"},"imagem":{"type":"string","description":"Url para uma imagem para a promoção"},"nome":{"type":"string","description":"O nome da promoção (até 15 caracteres)"},"permitirFaturarValorRestante":{"type":"boolean","example":false,"description":"Se a promoção permite faturar o valor do pagamento. (apenas para pagamento autorizado)"},"permitirParcial":{"type":"boolean","example":false,"description":"Se a promoção permite pagamento parcial."},"quantidadeDisponivel":{"type":"integer","format":"int32","description":"Quantidade disponível desta promoção"},"regulamento":{"type":"string","description":"A regulamentação da promoção"},"systemId":{"type":"integer","format":"int64","description":"O id da promoção"},"tipoDesconto":{"type":"string","description":"O tipo do desconto\n* PORCENTAGEM: Desconto de porcentagem.\n* VALOR: Desconto de valor fixo.\n* PERMANENCIA: Desconto de permanência. Consome o tempo a partir do começo da tarifa.\nExemplo: \nEm uma tarifa onde a primeira hora custa R$10,00 e as demais R$1,00.\nCom um desconto de 1h, um ticket com 2h de permanência terá seu valor reduzido em R$10,00, e deverá pagar R$1,00.\nATENÇÃO: A quantidade de tempo do desconto deve cobrir completamente o período para consumi-lo.\nEm outras palavras, no exemplo anterior:\n  * Se o desconto fosse de 30min, ele não conseguiria cobrir a primeira hora. E o valor do ticket seria R$11,00.\n  * Se o desconto fosse de 1h30min, ele conseguiria cobrir apenas a primeira hora. E o valor do ticket seria R$1,00.\n* PERMANENCIA_FINAL: Desconto de permanência. Consome o tempo a partir do final da tarifa.\nExemplo: \nEm uma tarifa onde a primeira hora custa R$10,00 e as demais R$1,00.\nCom um desconto de 1h, um ticket com 2h de permanência terá seu valor reduzido em R$1,00, e deverá pagar R$10,00.\nATENÇÃO: A quantidade de tempo do desconto deve cobrir completamente o período para consumi-lo.\nEm outras palavras, no exemplo anterior:\n  * Se a permanência fosse 1h30min, o desconto de 1h só conseguiria cobrir 30min. E o valor do ticket seria R$10,00.\n* MUDANCA_TARIFA: Mudança de tarifa.","enum":["PORCENTAGEM","VALOR","PERMANENCIA","PERMANENCIA_FINAL","MUDANCA_TARIFA"]},"tipoPromocao":{"type":"string","description":"O tipo da promoção\n* BANDEIRA: Promoção com validação da bandeira do cartão de crédito.\n* CUPOM: Promoção com validação de cupons fiscais.\n* CUPOM_FIDELIDADE: Promoção com validação de cupons fidelidade. (mesmas regras do tipo CUPOM, utilizado como filtro)","enum":["BANDEIRA","CUPOM","CUPOM_FIDELIDADE"]},"titulo":{"type":"string","description":"Titulo da promoção"},"validade":{"type":"string","format":"date-time","description":"A data de validade da promoção"},"valorAlvo":{"type":"integer","format":"int32","description":"Valor necessário para atingir a promoção"},"valorDesconto":{"type":"integer","format":"int32","description":"Caso tipoDesconto; VALOR: valor do desconto; PORCENTAGEM: porcentagem de desconto; PERMANENCIA: tempo em minutos; MUDANCA_TARIFA: número da tabela de tarifa"},"valorMaximoFaturado":{"type":"integer","format":"int32","description":"Valor máximo permitido para faturar. (null = ilimitado)"}}},"TaxInvoice":{"type":"object","properties":{"authorizationCode":{"type":"string","description":"O Código de Autorização da nota fiscal."},"document":{"type":"string","description":"Documento enviado para geração de RPS no pagamento (CPF/CNPJ)."},"nfseNumber":{"type":"string","description":"O número da nota fiscal."},"nfseQrCode":{"type":"string","description":"O qrcode da nota fiscal. (Quando o nfseVerificationCode estiver vazio este qrcode é da nota em contingência)"},"nfseVerificationCode":{"type":"string","description":"O código de verificação da nota fiscal."},"rps":{"type":"string","description":"O número do RPS gerado"},"rpsSerie":{"type":"string","description":"A série do RPS"},"usn":{"type":"string","description":"O Número Sequencial Único da nota fiscal."}}},"Customer":{"type":"object","required":["document"],"properties":{"cnpjData":{"description":"Dados de pessoa jurídica. Dependendo do município, algumas informações do CNPJ são obrigatórias para geração da NFS-e.","$ref":"#/definitions/CnpjData"},"cpfData":{"description":"Dados de pessoa física.","$ref":"#/definitions/CpfData"},"document":{"type":"string","description":"Número do documento do cliente para geração do RPS. (CPF ou CNPJ)"}}},"NotaInfo":{"type":"object","required":["cnpj","data","erro","qrCode","valida","valor"],"properties":{"cnpj":{"type":"string","description":"CNPJ do emissor"},"data":{"type":"string","format":"date-time","description":"Data da nota"},"erro":{"type":"string","description":"Mensagem de erro caso a nota seja inválida"},"qrCode":{"type":"string","description":"Código QR da nota"},"valida":{"type":"boolean","example":false,"description":"Se a nota é válida"},"valor":{"type":"integer","format":"int64","description":"Valor da nota"}}},"MobileTransaction":{"type":"object","required":["creationDate","paymentAmount","taxInvoice"],"properties":{"accredited":{"description":"Informações do credenciado, caso [type = ACCREDITED_CARD].","$ref":"#/definitions/AccreditedInfo"},"creationDate":{"type":"integer","format":"int64","description":"Data de criação da transação (Unix Epoch em milissegundos)."},"monthlyAccredited":{"description":"Informações do mensalista, caso [type = MONTHLY_ACCREDITED].","$ref":"#/definitions/MonthlyAccreditedInfo"},"openField":{"type":"string","description":"Campo livre, o mesmo enviado no request do pagamento."},"orderId":{"type":"string","description":"Identificação única do pedido."},"paymentAmount":{"type":"integer","format":"int32","description":"Valor do pagamento."},"paymentDate":{"type":"integer","format":"int64","description":"Data em que o pagamento foi aceito (Unix Epoch em milissegundos)."},"pixQrCode":{"type":"string","description":"QRCode gerado no pagamento, caso seja pix."},"status":{"type":"string","description":"Status da transação.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"taxInvoice":{"description":"Informações da nota fiscal/recibo.","$ref":"#/definitions/TaxInvoice"},"ticket":{"description":"Informações do ticket, caso [type = TICKET].","$ref":"#/definitions/TicketInfo"},"transactionId":{"type":"string","description":"Id da transação."},"type":{"type":"string","description":"O tipo do serviço pago.\n* ACCREDITED_CARD: Recarga de cartão crédito WPS.\n* WPS_DEBIT_CARD: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.\n* MONTHLY_ACCREDITED: Pagamento de mensalidade.\n* UNMAPPED: Tipo não mapeado.","enum":["ACCREDITED_CARD","WPS_DEBIT_CARD","TICKET","MONTHLY_ACCREDITED","UNMAPPED"]},"wpsDebitCard":{"description":"Informações do cartão de débito WPS, caso [type = WPS_DEBIT_CARD].","$ref":"#/definitions/WpsDebitCardInfo"}}},"DadosAdicionaisControleVagas":{"type":"object","properties":{"contrato":{"type":"string"},"documento":{"type":"string"},"placa":{"type":"string"}}},"AccreditedInfo":{"type":"object","properties":{"number":{"type":"integer","format":"int64","description":"Número do credenciado."},"parkingInfo":{"description":"Informações da garagem associada ao credenciado.","$ref":"#/definitions/ParkingInfo"}}},"RetornoConsultaRecibo":{"type":"object","properties":{"garage_name":{"type":"string"},"receipts":{"type":"array","items":{"$ref":"#/definitions/RetornoConsultaReciboDetalhe"}},"ticket":{"type":"string"}}},"PagamentoEfetuadoTicket":{"type":"object","required":["cnpjGaragem","data","estacionamento","permanencia","permanenciaFim","ticket","valorDesconto","valorPago"],"properties":{"campoLivre":{"type":"string","description":"Campo livre, o mesmo enviado no request do pagamento."},"cnpjGaragem":{"type":"string","description":"CNPJ da Garagem"},"codigoAutorizacao":{"type":"string","description":"O Código de Autorização da nota fiscal."},"cpfCnpj":{"type":"string","description":"CPF enviado para geração de RPS no pagamento"},"data":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento(Unix Epoch em milissegundos)"},"estacionamento":{"type":"string","description":"Nome da Garagem associada ao ticket"},"idTransacao":{"type":"string","description":"Id da transação."},"linkLogoGaragem":{"type":"string","description":"Link de uma imagem para o estacionamento"},"nfseCodigoVerificacao":{"type":"string","description":"O código de verificação da nota fiscal."},"nfseNumero":{"type":"string","description":"O número da nota fiscal."},"nfseQrCode":{"type":"string","description":"O qrcode da nota fiscal. (Quando o nfseCodigoVerificacao estiver vazio este qrcode é da nota em contingência)"},"nsu":{"type":"string","description":"O Número Sequencial Único da nota fiscal."},"permanencia":{"type":"integer","format":"int64","description":"Data de entrada do ticket."},"permanenciaFim":{"type":"integer","format":"int64","description":"Data de saída do ticket. (data atual, caso esteja no pátio)"},"qrCodePix":{"type":"string","description":"QRCode gerado no pagamento, caso seja pix."},"rps":{"type":"string","description":"O número do RPS gerado"},"serieRps":{"type":"string","description":"A série do RPS"},"status":{"type":"string","description":"Status da transação.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"ticket":{"type":"string","description":"Número do ticket."},"tipo":{"type":"string","description":"O tipo do serviço pago.\n* CARGA_CREDITO: Recarga de cartão crédito WPS.\n* CARTAO_DEBITO: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.","enum":["CARGA_CREDITO","CARTAO_DEBITO","TICKET"]},"valorDesconto":{"type":"integer","format":"int64","description":"Valor do desconto recebido."},"valorPago":{"type":"integer","format":"int64","description":"Valor do pagamento"}}},"PagamentoRequest":{"type":"object","required":["enderecoIp","idTransacao","numeroTicket","udid","valor"],"properties":{"bandeira":{"type":"string","description":"Bandeira do cartão de crédito"},"campoLivre":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"cartaoCriptografado":{"type":"string","description":"O Cartão criptografado."},"cartaoDeCredito":{"type":"integer","format":"int64","description":"Número do cartão de crédito"},"codigoDeSeguranca":{"type":"string","description":"Código de segurança do cartão de crédito"},"cpfCnpj":{"type":"integer","format":"int64","description":"Número do documento do cliente para geração do RPS"},"criptografarCartao":{"type":"boolean","example":false,"description":"Retornar o cartão criptografado se o pagamento for bem sucedido"},"dadosCnpj":{"description":"Dados de pessoa jurídica.","$ref":"#/definitions/CnpjData"},"dadosCpf":{"description":"Dados de pessoa física.","$ref":"#/definitions/CpfData"},"enderecoIp":{"type":"string","description":"Endereco IP do dispositivo"},"guidGaragem":{"type":"string","description":"GUID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo ID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idGaragem":{"type":"integer","format":"int64","description":"ID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo GUID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idPromocao":{"type":"integer","format":"int64","description":"O ID da promoção para ser aplicada ao ticket. Pode ser obtido através do método [/promocoes] "},"idTransacao":{"type":"string","description":"Identificação única para a transação"},"notas":{"type":"array","description":"Conteúdo dos QRCodes lidos para completar os requerimentos da promoção.","items":{"type":"string"}},"numeroTicket":{"type":"string","description":"Número do código de barras do ticket do estacionamento"},"permitirValorExcedente":{"type":"boolean","example":false,"description":"Permitir pagamento com valor excedente."},"portador":{"type":"string","description":"Obrigatório apenas para Gateway Komerci"},"tokenAutenticacao":{"type":"string","description":"O token de autenticação para a promoção."},"udid":{"type":"string","description":"Identificador único para o dispositivo"},"validade":{"type":"string","description":"Validade do cartão de crédito no formato 'MMYYYY'"},"valor":{"type":"integer","format":"int32","description":"Valor do pagamento em centavos. Exemplo: para um pagamento de R$1,50 enviar 150"}}},"WpsDebitCardPaymentTransaction":{"type":"object","required":["amount","payment","transactionId","udid","wpsDebitCard"],"properties":{"amount":{"type":"integer","format":"int32","description":"Valor do pagamento em centavos. Exemplo: para um pagamento de R$1,50 enviar 150."},"customer":{"description":"Dados para geração de RPS.","$ref":"#/definitions/Customer"},"openField":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"payment":{"description":"Dados para o pagamento.","$ref":"#/definitions/Payment"},"transactionId":{"type":"string","description":"Identificação única para a transação."},"udid":{"type":"string","description":"Identificador único para o dispositivo/usuário."},"wpsDebitCard":{"description":"Cartão","$ref":"#/definitions/WpsDebitCard"}}},"RetornoPagamento":{"type":"object","required":["comprovante","dataHoraSaida","dataPagamento","errorCode","message","numeroTicket","rps","serieRps","ticketPago"],"properties":{"cartaoCriptografado":{"type":"string","description":"O cartão criptografado se solicitado"},"comprovante":{"type":"string","description":"Texto com o comprovante de pagamento do ticket"},"dataHoraSaida":{"type":"integer","format":"int64","description":"Data e hora permitida para a saída do estacionamento(Unix Epoch em milissegundos)"},"dataPagamento":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento(Unix Epoch em milissegundos)"},"errorCode":{"type":"integer","format":"int32","description":"Código de erro"},"message":{"type":"string","description":"Mensagem de erro"},"numeroTicket":{"type":"string","description":"O número do ticket"},"orderId":{"type":"string","description":"Identificação única do pedido enviado para o gateway."},"rps":{"type":"string","description":"O número do RPS gerado"},"serieRps":{"type":"string","description":"A série do RPS"},"ticketPago":{"type":"boolean","example":false,"description":"Se o ticket foi pago"}}},"TicketInfo":{"type":"object","required":["creationDate"],"properties":{"creationDate":{"type":"integer","format":"int64","description":"Data de entrada/criação do ticket (Unix Epoch em milissegundos)."},"exitDate":{"type":"integer","format":"int64","description":"Data de saída do ticket (Unix Epoch em milissegundos)."},"number":{"type":"string","description":"Número do ticket."},"parkingInfo":{"description":"Informações da garagem associada ao ticket.","$ref":"#/definitions/ParkingInfo"}}},"RetornoConsultaReciboDetalhe":{"type":"object","properties":{"amountPaid":{"type":"number","format":"double"},"dateTimeExit":{"type":"string","format":"date-time"},"licencePlate":{"type":"string"},"receipt":{"type":"string"},"terminal":{"type":"integer","format":"int32"}}},"CriptografarCartaoRequest":{"type":"object","properties":{"numeroDoCartao":{"type":"string"},"portador":{"type":"string"},"udid":{"type":"string"},"validade":{"type":"string"}}},"AccreditedCard":{"type":"object","required":["number","password"],"properties":{"number":{"type":"integer","format":"int64","description":"O número do cartão de credenciado WPS ou matricula."},"parkingGuid":{"type":"string","description":"GUID da Garagem referente ao credenciado. (É obrigatório o envio do parkingId ou parkingGuid)"},"parkingId":{"type":"integer","format":"int64","description":"ID da Garagem referente ao credenciado. (É obrigatório o envio do parkingId ou parkingGuid)"},"password":{"type":"string","description":"Senha ou hash da senha do usuário."}}},"Card":{"type":"object","required":["brand"],"properties":{"brand":{"type":"string","description":"Bandeira do cartão.","enum":["VISA","MASTER","AMEX","ELO","AURA","JCB","DINERS","DISCOVER"]},"cardHolder":{"type":"string","description":"Obrigatório dependendo do gateway."},"createToken":{"type":"boolean","example":false,"description":"Use esta opção para gerar o token do cartão para ser utilizado em pagamentos futuros."},"expirationDate":{"type":"string","description":"Validade do cartão de crédito no formato 'MMYYYY'."},"number":{"type":"string","description":"Número do cartão de crédito/débito."},"securityCode":{"type":"string","description":"Código de segurança do cartão. (CVV)"},"token":{"type":"string","description":"Token do cartão gerado por um pagamento anterior."}}},"Payment":{"type":"object","required":["type"],"properties":{"card":{"description":"Dados do cartão de crédito/débito.","$ref":"#/definitions/Card"},"type":{"type":"string","description":"Meio de pagamento.","enum":["CREDIT_CARD","DEBIT_CARD","PIX"]}}},"ParkingInfo":{"type":"object","required":["document"],"properties":{"document":{"type":"string","description":"CNPJ da Garagem."},"image":{"type":"string","description":"Link de uma imagem para a Garagem."},"name":{"type":"string","description":"Nome da Garagem."}}},"MonthlyAccreditedInfo":{"type":"object","required":["name","number","parkingGuid","parkingId"],"properties":{"name":{"type":"string","description":"Nome do Mensalista."},"number":{"type":"string","description":"Número do cartão do Mensalista."},"parkingGuid":{"type":"string","description":"GUID da Garagem referente ao mensalista."},"parkingId":{"type":"integer","format":"int64","description":"ID da Garagem referente ao mensalista."}}},"MonthlyAccreditedInvoicesResponse":{"type":"object","required":["accredited","invoices","spot","totalAmount"],"properties":{"accredited":{"description":"Mensalista","$ref":"#/definitions/MonthlyAccreditedInfo"},"invoices":{"type":"array","description":"Faturas em aberto.","items":{"$ref":"#/definitions/MonthlyAccreditedInvoice"}},"spot":{"description":"Informações da vaga.","$ref":"#/definitions/MonthlyAccreditedSpot"},"totalAmount":{"type":"integer","format":"int32","description":"Valor total das faturas."}}},"RetornoConsulta":{"type":"object","required":["cnpjGaragem","dataConsulta","dataDeEntrada","dataPermitidaSaida","errorCode","garagem","idGaragem","imagemLink","message","notas","numeroTicket","promocaoAtingida","promocoesDisponiveis","setor","tarifa","tarifaPaga","tarifaSemDesconto","ticketValido","valorDesconto"],"properties":{"cnpjGaragem":{"type":"string","description":"CNPJ da Garagem"},"dataConsulta":{"type":"integer","format":"int64","description":"Data do servidor no momento da consulta(Unix Epoch em milissegundos)"},"dataDeEntrada":{"type":"integer","format":"int64","description":"Data de entrada(Unix Epoch em milissegundos)"},"dataPermitidaSaida":{"type":"integer","format":"int64","description":"Uma previsão da data permitida para saída se o ticket for pago com o valor atual (Unix Epoch em milissegundos)"},"dataPermitidaSaidaUltimoPagamento":{"type":"integer","format":"int64","description":"Se o ticket já possuir pagamento, esta é a data permitida para a saída calculada no mesmo"},"errorCode":{"type":"integer","format":"int32","description":"Código de erro"},"garagem":{"type":"string","description":"Nome da Garagem associada ao ticket"},"idGaragem":{"type":"integer","format":"int64","description":"ID da Garagem"},"idPromocao":{"type":"integer","format":"int64","description":"O id da promoção(O mesmo do request)"},"imagemLink":{"type":"string","description":"Link de uma imagem para o estacionamento"},"message":{"type":"string","description":"Mensagem de erro"},"notas":{"type":"array","description":"Lista com as informações sobre as notas enviadas","items":{"$ref":"#/definitions/NotaInfo"}},"numeroTicket":{"type":"string","description":"O número do ticket"},"placa":{"type":"string","description":"Placa associada ao ticket"},"promocao":{"description":"A promoção utilizada","$ref":"#/definitions/Promocao"},"promocaoAtingida":{"type":"boolean","example":false,"description":"Se a promoção existe e foi atingida"},"promocoesDisponiveis":{"type":"boolean","example":false,"description":"Se existem promoções cadastradas para a garagem do ticket"},"setor":{"type":"string","description":"Setor do ticket"},"tarifa":{"type":"integer","format":"int32","description":"Valor TOTAL da tarifa do ticket em centavos(R$1,50 = 150). Este valor ignora o valor já pago, mas não ignora descontos. ATENÇÃO: Este valor é zero quando o ticket está na tolerância!"},"tarifaPaga":{"type":"integer","format":"int32","description":"Valor da tarifa já paga em centavos(R$1,50 = 150). Para calcular o valor a pagar utilize 'max(tarifa - tarifaPaga, 0)'"},"tarifaSemDesconto":{"type":"integer","format":"int32","description":"Valor TOTAL e sem desconto da tarifa do ticket em centavos(R$1,50 = 150)."},"ticketValido":{"type":"boolean","example":false,"description":"Se o ticket consultado é válido"},"valorDesconto":{"type":"integer","format":"int32","description":"Valor do desconto aplicado na tarifa em centavos(R$1,50 = 150)"}}},"ControleVagasLojistaRequest":{"type":"object","properties":{"numeroTicket":{"type":"string"},"tokenAutenticacao":{"type":"string"}}},"Sale":{"type":"object","required":["id"],"properties":{"authToken":{"type":"string","description":"O token de autenticação para a promoção."},"id":{"type":"integer","format":"int64","description":"O id da promoção."},"receipts":{"type":"array","description":"QRCode das notas utilizadas na validação da promoção.","items":{"type":"string"}}}},"PoliticaPrivacidade":{"type":"object","properties":{"app":{"type":"string","enum":["MOBILE_PAYMENT"]},"policy":{"type":"string"},"systemId":{"type":"integer","format":"int64"},"version":{"type":"integer","format":"int64"}}},"MonthlyAccreditedSpot":{"type":"object","required":["creationDate","description","licensePlate","uuid"],"properties":{"creationDate":{"type":"integer","format":"int64","description":"Data de criação da vaga."},"description":{"type":"string","description":"Descrição da vaga."},"licensePlate":{"type":"string","description":"Placa associada a vaga."},"uuid":{"type":"string","description":"UUID da vaga."}}},"PagamentoAutorizadoRequest":{"type":"object","required":["bandeira","idTransacao","numeroTicket","udid","valor"],"properties":{"bandeira":{"type":"string","description":"Bandeira do cartão de crédito"},"campoLivre":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"codigoAutorizacao":{"type":"string","description":"Código de autorização do pagamento"},"cpfCnpj":{"type":"integer","format":"int64","description":"Número do documento do cliente para geração do RPS"},"dadosCnpj":{"description":"Dados de pessoa jurídica.","$ref":"#/definitions/CnpjData"},"dadosCpf":{"description":"Dados de pessoa física.","$ref":"#/definitions/CpfData"},"faturado":{"type":"boolean","example":false,"description":"Valor faturado."},"guidGaragem":{"type":"string","description":"GUID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo ID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idGaragem":{"type":"integer","format":"int64","description":"ID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo GUID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idPromocao":{"type":"integer","format":"int64","description":"O ID da promoção para ser aplicada ao ticket. Pode ser obtido através do método [/promocoes] "},"idTransacao":{"type":"string","description":"Identificação única para a transação"},"notas":{"type":"array","description":"Conteúdo dos QRCodes lidos para completar os requerimentos da promoção.","items":{"type":"string"}},"nsu":{"type":"string","description":"NSU associada ao pagamento"},"numeroTicket":{"type":"string","description":"Número do código de barras do ticket do estacionamento"},"permitirValorExcedente":{"type":"boolean","example":false,"description":"Permitir pagamento com valor excedente."},"permitirValorParcial":{"type":"boolean","example":false,"description":"Permitir pagamento com valor parcial."},"tokenAutenticacao":{"type":"string","description":"O token de autenticação para a promoção."},"udid":{"type":"string","description":"Identificador único para o dispositivo"},"valor":{"type":"integer","format":"int32","description":"Valor do pagamento em centavos. Exemplo: para um pagamento de R$1,50 enviar 150"}}},"ParkingTicket":{"type":"object","required":["number"],"properties":{"number":{"type":"string","description":"Número do código de barras do ticket do estacionamento."},"parkingGuid":{"type":"string","description":"GUID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo ID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado."},"parkingId":{"type":"integer","format":"int64","description":"ID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo GUID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado."}}},"MonthlyAccreditedInvoice":{"type":"object","required":["expirationDate","id","value"],"properties":{"expirationDate":{"type":"integer","format":"int64","description":"Data de expiração da fatura."},"id":{"type":"integer","format":"int64","description":"ID da fatura."},"value":{"type":"integer","format":"int32","description":"Valor da fatura."}}},"PagamentoEfetuadoCartao":{"type":"object","required":["cartao","cnpjGaragem","data","estacionamento","valorPago"],"properties":{"campoLivre":{"type":"string","description":"Campo livre, o mesmo enviado no request do pagamento."},"cartao":{"type":"integer","format":"int64","description":"Número do cartão débito WPS."},"cnpjGaragem":{"type":"string","description":"CNPJ da Garagem"},"codigoAutorizacao":{"type":"string","description":"O Código de Autorização da nota fiscal."},"cpfCnpj":{"type":"string","description":"CPF enviado para geração de RPS no pagamento"},"data":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento(Unix Epoch em milissegundos)"},"estacionamento":{"type":"string","description":"Nome da Garagem associada ao ticket"},"idTransacao":{"type":"string","description":"Id da transação."},"linkLogoGaragem":{"type":"string","description":"Link de uma imagem para o estacionamento"},"nfseCodigoVerificacao":{"type":"string","description":"O código de verificação da nota fiscal."},"nfseNumero":{"type":"string","description":"O número da nota fiscal."},"nfseQrCode":{"type":"string","description":"O qrcode da nota fiscal. (Quando o nfseCodigoVerificacao estiver vazio este qrcode é da nota em contingência)"},"nsu":{"type":"string","description":"O Número Sequencial Único da nota fiscal."},"qrCodePix":{"type":"string","description":"QRCode gerado no pagamento, caso seja pix."},"rps":{"type":"string","description":"O número do RPS gerado"},"serieRps":{"type":"string","description":"A série do RPS"},"status":{"type":"string","description":"Status da transação.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"tipo":{"type":"string","description":"O tipo do serviço pago.\n* CARGA_CREDITO: Recarga de cartão crédito WPS.\n* CARTAO_DEBITO: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.","enum":["CARGA_CREDITO","CARTAO_DEBITO","TICKET"]},"valorPago":{"type":"integer","format":"int64","description":"Valor do pagamento"}}},"AddressData":{"type":"object","required":["address","city","district","ibgeNumber","number","postalCode","stateAbbreviation"],"properties":{"address":{"type":"string","description":"Endereço. (alias: endereco)"},"city":{"type":"string","description":"Cidade. (alias: cidade)"},"complement":{"type":"string","description":"Complemento. (alias: complemento)"},"district":{"type":"string","description":"Bairro. (alias: bairro)"},"ibgeNumber":{"type":"string","description":"Número IBGE. (alias: ibge)"},"number":{"type":"string","description":"Número. (alias: numero)"},"postalCode":{"type":"string","description":"CEP. (alias: cep)"},"stateAbbreviation":{"type":"string","description":"UF. (alias: uf)","enum":["AC","AL","AP","AM","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR","SC","SP","SE","TO"]}}},"PagamentoCredenciadoRequest":{"type":"object","required":["bandeira","cartaoDeCredito","chaveGaragem","codigoDeSeguranca","cpfCnpj","enderecoIp","hashSenha","idTransacao","matricula","portador","udid","validade","valor"],"properties":{"bandeira":{"type":"string","description":"Bandeira do cartão de crédito utilizado no pagamento do ticket."},"campoLivre":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"cartaoCriptografado":{"type":"string","description":"O Cartão criptografado."},"cartaoDeCredito":{"type":"integer","format":"int64","description":"Número do cartão de crédito a ser utilizado para pagamento."},"chaveGaragem":{"type":"string","description":"A chave da garagem. Pode ser obtida pelo método consultarGaragens."},"codigoDeSeguranca":{"type":"string","description":"Código de segurança do carão de crédito."},"cpfCnpj":{"type":"integer","format":"int64","description":"Número do documento do cliente para geração do RPS."},"dadosCnpj":{"description":"Dados de pessoa jurídica.","$ref":"#/definitions/CnpjData"},"dadosCpf":{"description":"Dados de pessoa física.","$ref":"#/definitions/CpfData"},"enderecoIp":{"type":"string","description":"Endereço IP do dispositivo conectado ao serviço."},"hashSenha":{"type":"string","description":"Senha ou hash da senha do usuário"},"idTransacao":{"type":"string","description":"Um id único para a transação."},"matricula":{"type":"integer","format":"int64","description":"O número do cartão de credenciado WPS ou matricula."},"portador":{"type":"string","description":"Nome do portador do cartão de crédito."},"udid":{"type":"string","description":"Identificador único do dispositivo que acessa o serviço."},"validade":{"type":"string","description":"Validade do cartão de crédito no formato MMYYYY."},"valor":{"type":"integer","format":"int32","description":"Número inteiro representando o valor a pagar multiplicado por 100."}}},"CpfData":{"type":"object","properties":{"email":{"type":"string","description":"Email."},"name":{"type":"string","description":"Nome. (alias: nome)"}}},"AccreditedCardPaymentTransaction":{"type":"object","required":["accreditedCard","amount","payment","transactionId","udid"],"properties":{"accreditedCard":{"description":"Cartão","$ref":"#/definitions/AccreditedCard"},"amount":{"type":"integer","format":"int32","description":"Valor do pagamento em centavos. Exemplo: para um pagamento de R$1,50 enviar 150."},"customer":{"description":"Dados para geração de RPS.","$ref":"#/definitions/Customer"},"openField":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"payment":{"description":"Dados para o pagamento.","$ref":"#/definitions/Payment"},"transactionId":{"type":"string","description":"Identificação única para a transação."},"udid":{"type":"string","description":"Identificador único para o dispositivo/usuário."}}},"PagamentoCartaoDebitoRequest":{"type":"object","required":["bandeira","cartaoDeCredito","chaveGaragem","codigoDeSeguranca","cpfCnpj","enderecoIp","idTransacao","numeroCartao","portador","udid","validade","valor"],"properties":{"bandeira":{"type":"string","description":"Bandeira do cartão de crédito utilizado no pagamento do ticket."},"campoLivre":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"cartaoCriptografado":{"type":"string","description":"O Cartão criptografado."},"cartaoDeCredito":{"type":"integer","format":"int64","description":"Número do cartão de crédito a ser utilizado para pagamento."},"chaveGaragem":{"type":"string","description":"A chave da garagem. Pode ser obtida pelo método consultarGaragens."},"codigoDeSeguranca":{"type":"string","description":"Código de segurança do carão de crédito."},"cpfCnpj":{"type":"integer","format":"int64","description":"Número do documento do cliente para geração do RPS."},"dadosCnpj":{"description":"Dados de pessoa jurídica.","$ref":"#/definitions/CnpjData"},"dadosCpf":{"description":"Dados de pessoa física.","$ref":"#/definitions/CpfData"},"enderecoIp":{"type":"string","description":"Endereço IP do dispositivo conectado ao serviço."},"idTransacao":{"type":"string","description":"Um id único para a transação."},"numeroCartao":{"type":"string","description":"O número do cartão de débito WPS."},"portador":{"type":"string","description":"Nome do portador do cartão de crédito."},"udid":{"type":"string","description":"Identificador único do dispositivo que acessa o serviço."},"validade":{"type":"string","description":"Validade do cartão de crédito no formato MMYYYY."},"valor":{"type":"integer","format":"int32","description":"Número inteiro representando o valor a pagar em centavos. (R$1,50 = 150)"}}},"MonthlyAccredited":{"type":"object","required":["number"],"properties":{"number":{"type":"string","description":"Número do cartão do Mensalista."},"parkingGuid":{"type":"string","description":"GUID da Garagem referente ao mensalista. (É obrigatório o envio do parkingId ou parkingGuid)"},"parkingId":{"type":"integer","format":"int64","description":"ID da Garagem referente ao mensalista. (É obrigatório o envio do parkingId ou parkingGuid)"}}},"WpsDebitCard":{"type":"object","required":["number"],"properties":{"number":{"type":"string","description":"O número do cartão de débito WPS."},"parkingGuid":{"type":"string","description":"GUID da Garagem referente ao cartão. (É obrigatório o envio do parkingId ou parkingGuid)"},"parkingId":{"type":"integer","format":"int64","description":"ID da Garagem referente ao cartão. (É obrigatório o envio do parkingId ou parkingGuid)"}}},"TicketBarrasRequest":{"type":"object","required":["numeroTicket","udid"],"properties":{"guidGaragem":{"type":"string","description":"GUID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo ID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idGaragem":{"type":"integer","format":"int64","description":"ID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo GUID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idPromocao":{"type":"integer","format":"int64","description":"ID da promoção que será utilizada"},"notas":{"type":"array","description":"Notas para serem utilizadas em uma promoção","items":{"type":"string"}},"numeroTicket":{"type":"string","description":"Número do Código de Barras do ticket do estacionamento"},"tiposPromocao":{"type":"array","description":"Lista de tipos de promoção aceitos (SIMPLE = Qualquer promoção que precise somente do ID para ser utilizada)","items":{"type":"string"}},"tokenAutenticacao":{"type":"string","description":"O token de autenticação para a promoção."},"udid":{"type":"string","description":"Identificador único para o usuário"}}},"PagamentoEfetuadoCargaCredito":{"type":"object","required":["cnpjGaragem","data","estacionamento","matricula","valorPago"],"properties":{"campoLivre":{"type":"string","description":"Campo livre, o mesmo enviado no request do pagamento."},"cnpjGaragem":{"type":"string","description":"CNPJ da Garagem"},"codigoAutorizacao":{"type":"string","description":"O Código de Autorização da nota fiscal."},"cpfCnpj":{"type":"string","description":"CPF enviado para geração de RPS no pagamento"},"data":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento(Unix Epoch em milissegundos)"},"estacionamento":{"type":"string","description":"Nome da Garagem associada ao ticket"},"idTransacao":{"type":"string","description":"Id da transação."},"linkLogoGaragem":{"type":"string","description":"Link de uma imagem para o estacionamento"},"matricula":{"type":"integer","format":"int64","description":"Número da matricula/cartão crédito WPS."},"nfseCodigoVerificacao":{"type":"string","description":"O código de verificação da nota fiscal."},"nfseNumero":{"type":"string","description":"O número da nota fiscal."},"nfseQrCode":{"type":"string","description":"O qrcode da nota fiscal. (Quando o nfseCodigoVerificacao estiver vazio este qrcode é da nota em contingência)"},"nsu":{"type":"string","description":"O Número Sequencial Único da nota fiscal."},"qrCodePix":{"type":"string","description":"QRCode gerado no pagamento, caso seja pix."},"rps":{"type":"string","description":"O número do RPS gerado"},"serieRps":{"type":"string","description":"A série do RPS"},"status":{"type":"string","description":"Status da transação.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"tipo":{"type":"string","description":"O tipo do serviço pago.\n* CARGA_CREDITO: Recarga de cartão crédito WPS.\n* CARTAO_DEBITO: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.","enum":["CARGA_CREDITO","CARTAO_DEBITO","TICKET"]},"valorPago":{"type":"integer","format":"int64","description":"Valor do pagamento"}}},"Error":{"type":"object","required":["errorCode","message"],"properties":{"errorCode":{"type":"integer","format":"int32","description":"Código de erro"},"message":{"type":"string","description":"Mensagem de erro"}}},"WpsDebitCardInfo":{"type":"object","properties":{"number":{"type":"string","description":"Número do cartão."},"parkingInfo":{"description":"Informações da garagem associada ao cartão.","$ref":"#/definitions/ParkingInfo"}}},"PagamentoEfetuado":{"type":"object","required":["cnpjGaragem","data","estacionamento","valorPago"],"discriminator":"tipo","properties":{"campoLivre":{"type":"string","description":"Campo livre, o mesmo enviado no request do pagamento."},"cnpjGaragem":{"type":"string","description":"CNPJ da Garagem"},"codigoAutorizacao":{"type":"string","description":"O Código de Autorização da nota fiscal."},"cpfCnpj":{"type":"string","description":"CPF enviado para geração de RPS no pagamento"},"data":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento(Unix Epoch em milissegundos)"},"estacionamento":{"type":"string","description":"Nome da Garagem associada ao ticket"},"idTransacao":{"type":"string","description":"Id da transação."},"linkLogoGaragem":{"type":"string","description":"Link de uma imagem para o estacionamento"},"nfseCodigoVerificacao":{"type":"string","description":"O código de verificação da nota fiscal."},"nfseNumero":{"type":"string","description":"O número da nota fiscal."},"nfseQrCode":{"type":"string","description":"O qrcode da nota fiscal. (Quando o nfseCodigoVerificacao estiver vazio este qrcode é da nota em contingência)"},"nsu":{"type":"string","description":"O Número Sequencial Único da nota fiscal."},"qrCodePix":{"type":"string","description":"QRCode gerado no pagamento, caso seja pix."},"rps":{"type":"string","description":"O número do RPS gerado"},"serieRps":{"type":"string","description":"A série do RPS"},"status":{"type":"string","description":"Status da transação.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"tipo":{"type":"string","description":"O tipo do serviço pago.\n* CARGA_CREDITO: Recarga de cartão crédito WPS.\n* CARTAO_DEBITO: Pagamento de cartão débito WPS.\n* TICKET: Pagamento de ticket de estacionamento.","enum":["CARGA_CREDITO","CARTAO_DEBITO","TICKET"]},"valorPago":{"type":"integer","format":"int64","description":"Valor do pagamento"}}},"AsyncPaymentAPIResult":{"type":"object","required":["paymentDate","status","transactionId"],"properties":{"orderId":{"type":"string","description":"Identificação única do pedido enviado para o gateway."},"paymentDate":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento (Unix Epoch em milissegundos)."},"qrcodePix":{"type":"string","description":"No caso do pagamento PIX, este é o QRCode retornado."},"receipt":{"type":"string","description":"Comprovante de pagamento do ticket."},"status":{"type":"string","description":"Status do pagamento.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"transactionId":{"type":"string","description":"Identificação única para a transação, a mesma enviada no request de pagamento."}}},"AutenticacaoResponse":{"type":"object","properties":{"clientId":{"type":"string"},"idGaragem":{"type":"integer","format":"int64"},"token":{"type":"string"}}},"TicketPaymentTransaction":{"type":"object","required":["amount","payment","ticket","transactionId","udid"],"properties":{"allowOverpayment":{"type":"boolean","example":false,"description":"Permitir pagamento com valor excedente."},"amount":{"type":"integer","format":"int32","description":"Valor do pagamento em centavos. Exemplo: para um pagamento de R$1,50 enviar 150."},"customer":{"description":"Dados para geração de RPS.","$ref":"#/definitions/Customer"},"openField":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"payment":{"description":"Dados para o pagamento.","$ref":"#/definitions/Payment"},"sale":{"description":"Promoção para ser aplicada durante o pagamento.","$ref":"#/definitions/Sale"},"ticket":{"description":"Identificação do ticket","$ref":"#/definitions/ParkingTicket"},"transactionId":{"type":"string","description":"Identificação única para a transação."},"udid":{"type":"string","description":"Identificador único para o dispositivo/usuário."}}},"RetornoCreditarCartao":{"type":"object","required":["errorCode","message"],"properties":{"comprovante":{"type":"string"},"errorCode":{"type":"integer","format":"int32","description":"Código de erro"},"message":{"type":"string","description":"Mensagem de erro"},"numeroCartao":{"type":"string"},"pagamentoAceito":{"type":"boolean"},"rps":{"type":"string"},"serieRps":{"type":"string"}}},"TicketPlacaRequest":{"type":"object","required":["placa","udid"],"properties":{"guidGaragem":{"type":"string","description":"GUID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo ID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idGaragem":{"type":"integer","format":"int64","description":"ID da Garagem referente ao ticket do estacionamento. Caso não utilizado o sistema tentará buscar o ticket pelo GUID ou em todas as garagens. Retorna erro se mais de um ticket for encontrado"},"idPromocao":{"type":"integer","format":"int64","description":"ID da promoção que será utilizada"},"notas":{"type":"array","description":"Notas para serem utilizadas em uma promoção","items":{"type":"string"}},"placa":{"type":"string","description":"Placa associada ao ticket do estacionamento"},"tiposPromocao":{"type":"array","description":"Lista de tipos de promoção aceitos (SIMPLE = Qualquer promoção que precise somente do ID para ser utilizada)","items":{"type":"string"}},"tokenAutenticacao":{"type":"string","description":"O token de autenticação para a promoção."},"udid":{"type":"string","description":"Identificador único para o usuário"}}},"CheckinVagasLojistaRequest":{"type":"object","properties":{"dadosAdicionais":{"$ref":"#/definitions/DadosAdicionaisControleVagas"},"idTransacao":{"type":"string"},"numeroTicket":{"type":"string"},"tipoControleVagas":{"type":"string","enum":["NENHUM","CHECKIN_COMUM","CHECKIN_SEM_VAGA","CHECKIN_FORA_DO_HORARIO","LIBERACAO_COMUM","LIBERACAO_SEM_VAGA","LIBERACAO_FORA_DO_HORARIO"]},"tokenAutenticacao":{"type":"string"},"udid":{"type":"string"}}},"MonthlyAccreditedPaymentTransaction":{"type":"object","required":["accredited","amount","invoices","payment","transactionId","udid"],"properties":{"accredited":{"description":"Mensalista.","$ref":"#/definitions/MonthlyAccredited"},"amount":{"type":"integer","format":"int32","description":"Valor do pagamento em centavos. Exemplo: para um pagamento de R$1,50 enviar 150."},"customer":{"description":"Dados para geração de RPS.","$ref":"#/definitions/Customer"},"invoices":{"type":"array","description":"Lista com os IDs das faturas referentes a este pagamento.","items":{"type":"integer","format":"int64"}},"openField":{"type":"string","description":"Campo livre, será retornado na consulta de pagamentos.(até 255 caracteres)"},"payment":{"description":"Dados para o pagamento.","$ref":"#/definitions/Payment"},"transactionId":{"type":"string","description":"Identificação única para a transação."},"udid":{"type":"string","description":"Identificador único para o dispositivo/usuário."}}},"AsyncTicketPaymentAPIResult":{"type":"object","required":["departureDateLimit","paymentDate","status","ticket","transactionId"],"properties":{"departureDateLimit":{"type":"integer","format":"int64","description":"Data e hora permitida para a saída do estacionamento(Unix Epoch em milissegundos)."},"orderId":{"type":"string","description":"Identificação única do pedido enviado para o gateway."},"paymentDate":{"type":"integer","format":"int64","description":"Data do servidor na hora do pagamento (Unix Epoch em milissegundos)."},"qrcodePix":{"type":"string","description":"No caso do pagamento PIX, este é o QRCode retornado."},"receipt":{"type":"string","description":"Comprovante de pagamento do ticket."},"status":{"type":"string","description":"Status do pagamento.\n* PENDING: Indica que a transação foi criara e o pagamento está pendente. Para pagamentos assíncronos.\n* PAID: Indica que o pagamento foi efetuado. Mesmo quando utilizando o pagamento assíncrono, em alguns casos o mesmo pode ser efetuado instantaneamente. Por exemplo, em um pagamento de valor zero ao aplicar uma promoção.\n* PAID_AND_SYNC: Indica que o pagamento foi efetuado e sincronizado com a garagem.\n* CANCELLED: Indica que a transação expirou e/ou foi cancelada.","enum":["PENDING","PAID","PAID_AND_SYNC","CANCELLED"]},"ticket":{"description":"Identificação do ticket.","$ref":"#/definitions/ParkingTicket"},"transactionId":{"type":"string","description":"Identificação única para a transação, a mesma enviada no request de pagamento."}}},"CnpjData":{"type":"object","required":["addressData","corporateName"],"properties":{"addressData":{"description":"Dados do endereço. (alias: dadosEndereco)","$ref":"#/definitions/AddressData"},"corporateName":{"type":"string","description":"Razão Social. (alias: razaoSocial)"},"email":{"type":"string","description":"Email."},"municipalRegistration":{"type":"string","description":"Inscrição Municipal. (alias: inscricaoMunicipal)"},"stateRegistration":{"type":"string","description":"Inscrição Estadual. (alias: inscricaoEstadual)"}}}}}